.content-big.page {
  position: relative;
}

#__beecatalyst-container {
  cursor: pointer;
  user-select: none;
}

#__beecatalyst-container.active {
  background: #662483;
  border-color: #662483;
  color: #fff;
}

.blocks > div:first-child {
  transition: all 200ms ease;
}

.blocks > div:last-child {
  transition: all 200ms ease;
}

.blocks.__beecatalyst-focus {
  overflow-x: hidden;
  overflow-y: auto;
}

.blocks.__beecatalyst-focus > div:first-child {
  width: 100%;
}

.blocks.__beecatalyst-focus > div:last-child {
  width: 0;
  opacity: 0;
  visibility: hidden;
  margin: 0;
}
